*{
    margin: 0;
    padding: 0;
}
header{
    height: 150px;
    width: 100%;
    background-color: aquamarine;
}
h1{
    text-align: center;
}
p{
    padding: 20px;
    color: blueviolet;
}
main{
    height: 500px;
    width: 100%;
    background-color: green;
}
h2{
    color: aliceblue;
    text-align: center;
}
section{
    height: 300px;
    width: 100%;
    background-color: aqua;
}